<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td align="center" style="padding:0px 20px 20px 20px;">
			<table border="0" cellpadding="0" cellspacing="0" class="table_responsive" width="530">
				<tr>
					<td style="font-family:Helvetica,Arial,sans-serif;font-size: 16px;line-height: 24px;padding-bottom:20px;">
						Cheers,<br />
						<span style="font-weight:bold;">The Virgin Mobile Team</span>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
