<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td style="padding: 0px 0px 20px 0px;">
			<table border="0" cellpadding="0" cellspacing="0" style="padding-bottom:20px;" width="100%">
				<tr>
					<td bgcolor="#F1F4F6">
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<td
									align="center"
									style="font-family: Helvetica, Arial, sans-serif; font-size: 22px; color: #00a3ad; line-height: 24px; mso-line-height-rule:exactly; text-align: center;padding:30px 0 20px 0;"
									valign="top"
								>
									<span style="font-weight:bold;">Switching to Optus is easy</span>
								</td>
							</tr>
							<tr>
								<td>
									<table
										align="center"
										aria-hidden="true"
										border="0"
										cellpadding="0"
										cellspacing="0"
										class="table_responsive"
										role="presentation"
										style="width:600px;"
										width="600"
									>
										<tr>
											<th align="center" class="stack-column" style="font-weight:normal;" width="300">
												<table
													aria-hidden="true"
													border="0"
													cellpadding="0"
													cellspacing="0"
													class="table_responsive"
													role="presentation"
													width="300"
												>
													<tr>
														<td align="center">
															<table
																align="center"
																aria-hidden="true"
																border="0"
																cellpadding="0"
																cellspacing="0"
																class="table_responsive"
																role="presentation"
																style="text-align: left;"
																width="180"
															>
																<tr>
																	<td
																		height="30"
																		style="font-size: 1px; line-height: 1px; border-collapse: collapse;"
																	>
																		<img
																			alt=""
																			border="0"
																			height="1"
																			src="http://image.exct.net/lib/fe6215707c62007e7512/m/1/5bf4439e-0942-4d78-9474-cbc1f0628c0d.gif"
																			style="display: block; border: 0px !important; outline: none !important;"
																			width="1"
																		/>
																	</td>
																</tr>
																<tr>
																	<td align="center">
																		<img
																			alt="online"
																			aria-hidden="true"
																			border="0"
																			class="img-responsive"
																			src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/1/22e434b4-a321-463f-a71d-4d41c04f3093.jpg"
																			style="width: 100%; max-width: 75px; height: 75px; background: #dddddd; font-family: sans-serif;  color: #555555;"
																			title="Online"
																			width="75"
																		/>
																	</td>
																</tr>
																<tr>
																	<td
																		height="14"
																		style="font-size: 1px; line-height: 1px; border-collapse: collapse;"
																	>
																		<img
																			alt=""
																			border="0"
																			height="1"
																			src="http://image.exct.net/lib/fe6215707c62007e7512/m/1/5bf4439e-0942-4d78-9474-cbc1f0628c0d.gif"
																			style="display: block; border: 0px !important; outline: none !important;"
																			width="1"
																		/>
																	</td>
																</tr>
																<tr>
																	<td class="main_padding_table">
																		<table border="0" cellspacing="0" width="100%">
																			<tr>
																				<td
																					align="center"
																					style="font-family: Helvetica, Arial, sans-serif; font-size: 18px;color: #000000;"
																					valign="top"
																				>
																					<strong>Online</strong>
																				</td>
																			</tr>
																			<tr>
																				<td
																					align="center"
																					height="10"
																					style="font-size: 1px; line-height: 1px; border-collapse: collapse;"
																				>
																					<img
																						alt=""
																						border="0"
																						height="1"
																						src="http://image.exct.net/lib/fe6215707c62007e7512/m/1/5bf4439e-0942-4d78-9474-cbc1f0628c0d.gif"
																						style="display: block; border: 0px !important; outline: none !important;"
																						width="1"
																					/>
																				</td>
																			</tr>
																			<tr>
																				<td
																					align="center"
																					style="font-family: Helvetica, Arial, sans-serif; font-size: 16px;color: #000000;line-height: 24px;"
																				>
																					To take up the above<br />
																					offer,
																					<a
																						href="%%=RedirectTo(@CTAOnlineUrl)=%%"
																						style="text-decoration: underline; color: #00A2AD;"
																						target="_blank"
																						title="Switch Online"
																						>click here</a
																					>
																				</td>
																			</tr>
																		</table>
																	</td>
																</tr>
															</table>
														</td>
													</tr>
												</table>
											</th>
										</tr>
										<tr>
											<td height="40" style="font-size: 1px; line-height: 1px; border-collapse: collapse;">
												<img
													alt=""
													border="0"
													height="1"
													src="http://image.exct.net/lib/fe6215707c62007e7512/m/1/5bf4439e-0942-4d78-9474-cbc1f0628c0d.gif"
													style="display: block; border: 0px !important; outline: none !important;"
													width="1"
												/>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
