<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td align="center" style="padding:0px 10px 20px 10px;">
			<table border="0" cellpadding="0" cellspacing="0" class="table_responsive" width="530">
				<tr>
					<td
						style="font-family:Helvetica,Arial,sans-serif;font-size: 16px;line-height: 24px;mso-line-height-rule:exactly;padding-bottom: 16px;"
					>
						Hi%%=IIF(EMPTY(@FirstName),'',CONCAT(' ',PROPERCASE(TRIM(@FirstName))))=%%,
					</td>
				</tr>
				<tr>
					<td
						style="font-family:Helvetica,Arial,sans-serif;font-size: 16px;line-height: 24px;mso-line-height-rule:exactly;padding-bottom: 16px;"
					>
						Check out this offer from our good friends at Optus. Plus, Virgin Mobile uses the Optus Mobile Network, so you can still enjoy
						the Optus Mobile Network without any change to your service.
					</td>
				</tr>
				<tr>
					<td style="font-family:Helvetica,Arial,sans-serif;font-size: 16px;line-height: 24px;mso-line-height-rule:exactly;">
						What are you waiting for? Click
						<a href="%%=RedirectTo(@CTABodyUrl)=%%" style="color: #6b1f7c;text-decoration:underline;" title="Switch Today">here</a> to
						switch today!
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
