<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td align="center" style="padding:0px 10px 0px 10px;">
			<table border="0" cellpadding="0" cellspacing="0" class="table_responsive" width="600">
				<tr>
					<td class="padtopbottom15-100w" style="padding: 25px; background:#fff;">
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<th align="center" class="stack-column" style="padding:5px;" valign="top" width="15%">
									<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<td align="center">
												<img
													alt="switching-image"
													src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/1/107df4bb-f3fc-449d-a21d-30e65602c06e.png"
													title="Simple switching"
												/>
											</td>
										</tr>
									</table>
								</th>
								<th class="stack-column-center" style="padding:10px;font-weight: normal;text-align: left;" width="85%">
									<table
										border="0"
										cellpadding="0"
										cellspacing="0"
										class="textalign_mob_center"
										style="font-family: Helvetica,Arial, sans-serif;"
									>
										<tr>
											<td class="condensed10-d" style="font-size: 14px;font-weight: bold;line-height: 24px; color: #6b1f7c">
												Simple switching
											</td>
										</tr>
										<tr>
											<td style="font-size: 14px;line-height:24px;">
												Moving to Optus is easy and you'll keep the same number. Better still, Virgin Mobile already uses the
												Optus network, so your mobile service will be the same.
											</td>
										</tr>
									</table>
								</th>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
