<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td align="center" style="padding:0px 10px 20px 10px;">
			<!-- 530px Table -->
			<table border="0" cellpadding="0" cellspacing="0" class="table_responsive" style="background-color:#fff;" width="530">
				<tr>
					<!-- Picture Left -->
					<th align="center" class="stack-column" style="font-weight:normal;" width="265">
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<td align="center">
									<img
										alt="sim-image"
										src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/1/32598804-b109-4cc5-adf2-0858f6c36de1.png"
										title="SIM Offer"
									/>
								</td>
							</tr>
						</table>
					</th>
					<!-- Plan Right -->
					<th align="center" class="stack-column" style="font-weight:normal;" width="265">
						<table border="0" cellpadding="0" cellspacing="0" width="100%">
							<tr>
								<td align="center">
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
										<tr>
											<td>
												<table border="0" cellpadding="0" cellspacing="0">
													<tr>
														<td
															align="right"
															style="font-family:  Helvetica, Arial, sans-serif;font-size:50px;mso-line-height-rule:exactly;line-height:50px;font-weight:bold;color:#00a3ad;padding:5px;"
															valign="bottom"
															width="50%"
														>
															$%%=v(@PlanCost)=%%
														</td>
													</tr>
												</table>
											</td>
											<td valign="bottom">
												<table border="0" cellpadding="0" cellspacing="0">
													<tr>
														<td
															align="left"
															style="font-family:Helvetica,Arial,sans-serif;font-size:20px;mso-line-height-rule:exactly;line-height:24px;font-weight: bold; color:#006280;padding: 5px 5px 8px 5px;"
															valign="bottom"
															width="50%"
														>
															per month
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<!-- Plan Table -->
							<tr>
								<td align="center">
									<table
										border="0"
										cellpadding="0"
										cellspacing="0"
										style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 16px; border-width: 1.5px; border-style: solid; border-color:#e6e6e6; "
										width="100%"
									>
										<!-- Plan Name -->
										<tr style="background-color:#006280;color: #fff;">
											<td
												align="center"
												style="border-bottom: 1.5px solid #e6e6e6; padding-top: 10px;padding-bottom: 10px;line-height: 20px;"
											>
												<span
													style="font-family: Helvetica, Arial, sans-serif; font-size:16px;font-weight:bold;line-height: 20px;"
													>My Plan Plus 12M SIM</span
												><br />
												<span
													style="font-family: Helvetica, Arial, sans-serif; font-size:12px;mso-line-height-rule:exactly;line-height: 12px;"
													>Min. total cost is $%%=v(@ContractTotalCost)=%% over 12 months</span
												>
											</td>
										</tr>
										<!-- Plan Data -->
										<tr>
											<td
												align="center"
												style="border-bottom: 1.5px solid #e6e6e6;font-family: Helvetica, Arial, sans-serif;padding-top: 10px;padding-bottom: 10px;line-height: 20px;"
											>
												<!-- %%[IF @BonusFlag == 'Yes' THEN]%% --><span
													style="font-family: Helvetica, Arial, sans-serif; font-size:16px;font-weight:bold;line-height: 24px;"
													>%%=v(@OptusAllowanceBonus)=%%GB Total Data</span
												><br />
												<span
													style="font-family: Helvetica, Arial, sans-serif; font-size:12px;font-weight:normal;line-height: 20px;"
													>%%=v(@OptusAllowance)=%%GB Data%%=IIF(@BonusFlag == 'Yes',' +','')=%%</span
												>
												<span
													style="font-family: Helvetica, Arial, sans-serif; font-size:12px;font-weight:normal;line-height: 20px;"
													>%%=CONCAT(@BonusData,'GB Bonus Data for 24mths')=%% </span
												><br />
												<!--<span style="font-size:14px;font-weight:bold;line-height: 18px;color: #6b1f7c;">Exclusive to Virgin Mobile</span><br>-->

												<!-- %%[ ELSE ]%% -->
												<span
													style="font-family: Helvetica, Arial, sans-serif; font-size:16px;font-weight:bold;line-height: 24px;"
													>%%=v(@OptusAllowance)=%%GB Data</span
												><br />
												<!-- %%[ ENDIF ]%% -->

												<span
													style="font-family: Helvetica, Arial, sans-serif; font-size:12px;mso-line-height-rule:exactly;line-height: 20px;"
													>Additional $10 per extra 1GB</span
												>
											</td>
										</tr>
										<tr>
											<td>
												<table
													border="0"
													cellpadding="0"
													cellspacing="0"
													style="border-collapse: collapse; font-family: Helvetica, Arial, sans-serif; font-size: 16px;"
													width="100%"
												>
													<!-- Unlimited National Calls & TXTS -->
													<tr>
														<td style="border-bottom: 1.5px solid #e6e6e6;" width="18%"></td>
														<td
															align="center"
															style="border-bottom: 1.5px solid #e6e6e6; padding-top: 10px;padding-bottom: 10px;line-height: 24px;"
															width="64%"
														>
															<span style="font-family: Helvetica, Arial, sans-serif; font-size:16px;font-weight:bold;"
																>Unlimited Standard<br />
																National Talk &amp; Text </span
															><br />
															<span style="font-family: Helvetica, Arial, sans-serif; font-size:12px;line-height: 16px;"
																>Standard Australian mobiles and landlines, 13/300 numbers and voicemail. Standard
																national SMS and MMS.</span
															>
														</td>
														<td align="center" style="border-bottom: 1.5px solid #e6e6e6" width="18%">
															<span
																><img
																	alt="check"
																	src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/1/c39346ee-e31d-49d6-8a2b-2345ec7f9e0b.png"
																/>
															</span>
														</td>
													</tr>
													<!-- Plus Added -->
													<!-- <tr style="background-color:#00a3ad;color: #fff;">
														<td width="20%"></td>
														<td
															align="center"
															style="padding-top: 10px;padding-bottom: 10px;line-height: 24px;"
															width="60%"
														>
															<span
																style="font-family: Helvetica, Arial, sans-serif; font-size:16px;line-height: 24px;font-weight:bold;"
																>Plus Added</span
															><br />
															<span
																style="font-family: Helvetica, Arial, sans-serif; font-size:16px;line-height: 24px;font-weight:bold;"
																>Premium Content</span
															><br />
															<span style="font-family: Helvetica, Arial, sans-serif; font-size:12px;line-height: 16px;"
																><span
																	>Exclusive live access to the Premier Leauge with Optus Sport subscription.</span
																></span
															>
														</td>
														<td align="center" width="20%"></td>
													</tr> -->
												</table>
											</td>
										</tr>
										<tr style="background-color:#00a3ad;color: #fff;">
											<td align="center" style="padding:10px;line-height: 24px;">
												<span
													style="font-family: Helvetica, Arial, sans-serif; font-size:16px;line-height: 24px;font-weight:bold;"
													>Plus Added</span
												><br />
												<span
													style="font-family: Helvetica, Arial, sans-serif; font-size:16px;line-height: 24px;font-weight:bold;"
													>Premium Content</span
												><br />
												<span style="font-family: Helvetica, Arial, sans-serif; font-size:12px;line-height: 16px;"
													><span>Optus Sport subscription included.</span></span
												>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</th>
				</tr>
			</table>
		</td>
	</tr>
</table>
