<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td align="center" style="padding:0px 10px 20px 10px;background-color: #fff;">
			<table border="0" cellpadding="0" cellspacing="0" class="table_responsive" width="530">
				<tr>
					<td
						style="font-family:Helvetica,Arial,sans-serif ;font-size:22px ;line-height:32px ;font-weight:bold ;color: #6b1f7c ;border-bottom: 2px solid #f1edea ;"
					>
						Your Optus Offer
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
