<table align="center" border="0" cellpadding="20" cellspacing="0" class="table_responsive" width="640">
	<tr>
		<!--[if mso
			]><td align="center" width="40" styclass="hide-d"></td>
			<td align="center" width="40" styclass="hide-d"></td
		><![endif]-->
		<td align="center" valign="top">
			<table align="center" border="0" cellpadding="0" cellspacing="0" class="table_responsive" width="600">
				<tr>
					<th align="center" class="stack-column-center condensed20-d" style="font-weight:normal;width: 150px;" valign="top">
						<table align="center" border="0" cellpadding="0" cellspacing="0" class="mob-column-d">
							<tr>
								<td align="center" valign="top">
									<table align="center" border="0" cellpadding="0" cellspacing="0" class="table_responsive" width="100">
										<tr>
											<td align="center" class="100padleftright-d" valign="top">
												<table border="0" cellpadding="0" cellspacing="0">
													<tr>
														<td align="center" valign="top">
															<a
																alias="Virgin Mobile"
																href="https://www.virginmobile.com.au/"
																style="text-decoration: none;"
																target="_blank"
																><img
																	border="0"
																	height="65"
																	src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/1/a83c06fb-d957-4438-8f17-d03522d9395b.png"
																	style="font-family: Arial, Helvetica, sans-serif; font-size: 14px; line-height: 18px; color:#ffffff; text-align: center; display: block;"
																	title="Virgin mobile"
																	width="78"
															/></a>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</th>
					<th
						align="center"
						class="stack-column-center condensed20-d"
						style="vertical-align:middle;font-weight:normal;width: 450px;"
						valign="middle"
					>
						<table align="right" border="0" cellpadding="0" cellspacing="0" class="table_responsive" width="300">
							<tr>
								<td align="center" class="height16" height="65" valign="middle">
									<table border="0" cellpadding="0" cellspacing="0">
										<tr>
											<td align="center" class="100padleftright-d" valign="middle">
												<table border="0" cellpadding="0" cellspacing="0">
													<tr>
														<td align="center" width="15">
															<a
																alias="My Account"
																href="%%=RedirectTo(@MyAccountUrl)=%%"
																style="text-decoration: none; color: #6b1f7c;"
																target="_blank"
																title="My Account"
																><img
																	border="0"
																	height="15"
																	src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/1/7c71f546-b1a9-4af1-9b64-c6f4d6d2ee25.png?b=1523409169000"
																	style="display: block;"
																	width="15"
															/></a>
														</td>
														<td class="hide-d" width="10"></td>
														<td
															align="left"
															style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #6b1f7c; line-height: 16px; mso-line-height-rule:exactly; text-align: left;"
															valign="top"
															width="90"
														>
															<a
																alias="My Account"
																href="%%=RedirectTo(@MyAccountUrl)=%%"
																style="text-decoration: none; color: #6b1f7c;"
																target="_blank"
																title="My Account"
																><span style="text-decoration: none; color: #6b1f7c;">My Account</span></a
															>
														</td>
														<td align="center" width="15">
															<a
																alias="Contact"
																href="https://www.virginmobile.com.au/contact-virgin-mobile/"
																style="text-decoration: none; color: #6b1f7c;"
																target="_blank"
																title="Contact"
																><img
																	border="0"
																	height="15"
																	src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/1/494917f9-2d67-4c77-a533-2d6456b0d595.png?b=1523409170000"
																	style="display: block;"
																	width="15"
															/></a>
														</td>
														<td class="hide-d" width="10"></td>
														<td
															align="left"
															style="font-family: Helvetica, Arial, sans-serif; font-size: 12px; color: #6b1f7c; line-height: 16px; mso-line-height-rule:exactly; text-align: left;"
															valign="top"
															width="80"
														>
															<a
																alias="Contact"
																href="https://www.virginmobile.com.au/contact-virgin-mobile/"
																style="text-decoration: none; color: #6b1f7c;"
																target="_blank"
																title="Contact"
																><span style="text-decoration: none; color: #6b1f7c;">Contact</span></a
															>
														</td>
													</tr>
												</table>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</th>
				</tr>
			</table>
		</td>
		<!--[if mso
			]><td align="center" width="40" styclass="hide-d"></td>
			<td align="center" width="40" styclass="hide-d"></td
		><![endif]-->
	</tr>
</table>
