<table border="0" cellpadding="0" cellspacing="0" width="100%">
	<tr>
		<td align="center">
			<table align="center" border="0" cellpadding="0" cellspacing="0" class="table_responsive" style="max-width:800px;">
				<tr>
					<td class="table_responsive" style="display:block;">
						<img
							alt="line"
							height="4"
							src="https://image.e.virginmobile.com.au/lib/fe8412717c6c0c7e7d/m/1/78269cb0-5627-4d14-ba14-def291bb0ddb.png"
							style="display:block;"
							width="100%"
						/>
					</td>
				</tr>
				<tr>
					<td style="background-color: #404040; padding: 30px 10px; font-family: Helvetica, Arial, sans-serif; color:#ffffff;">
						<table align="center" border="0" cellpadding="0" cellspacing="0" class="table_responsive" width="530">
							<tr>
								<td align="right">
									<table
										align="right"
										border="0"
										cellpadding="0"
										cellspacing="0"
										class="center-on-narrow"
										style="font-size:12px;display:table !important;"
									>
										<tr>
											<td style="padding:0 10px;font-size:12px;line-height: 16px;">
												<a
													href="https://www.virginmobile.com.au/contact-virgin-mobile/"
													style="color: #fff;text-decoration: underline;"
													>Contact Us</a
												>
											</td>
											<td style="padding:0 10px;font-size:12px;line-height: 16px;">
												<a href="https://www.virginmobile.com.au/privacy/" style="color: #fff;text-decoration: underline;"
													>Privacy Policy</a
												>
											</td>
											<td style="padding:0 10px;font-size:12px;line-height: 16px;">
												<a
													href="%%=RedirectTo(CloudpagesURL(370,'sub',_subscriberkey))=%%"
													style="color: #fff;text-decoration: underline;"
													>Unsubscribe</a
												>
											</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td>
									<table border="0" cellpadding="0" cellspacing="0" style="color:#fff;font-size: 12px;">
										<tr>
											<td style="padding:20px 0; font-weight:bold;font-size: 12px;text-decoration: none !important;">
												<span style="display:inline-block !important;">The Fine Print:</span>
											</td>
										</tr>
										<tr>
											<td style="padding-bottom: 20px; font-weight:bold;font-size: 12px;text-decoration: none !important;">
												<span style="display:inline-block !important;">FAIR GO POLICY APPLIES.</span>
											</td>
										</tr>
										<tr>
											<td style="line-height:18px;font-size: 12px;text-decoration: none !important;">
												<!-- %%[ IF @BonusFlag == "Yes" THEN ]%% -->
												<p style="display:inline-block !important;">
													<span style="font-weight:bold;">$30 MY PLAN PLUS 12M VIRGIN CUSTOMER 10GB BONUS DATA OFFER: </span
													>Offer available to selected Virgin Mobile customers who connect to $30 My Plan Plus 12M SIM . Not
													available with any other in-market offer, unless specified. 10GB Bonus data available for up to 24
													months. Plan reverts to standard inclusion after 24 months and will be forfeited if you
													re-contract, change or cancel your plan. Available until withdrawn.
												</p>
												<!-- %%[ ENDIF ]%% -->
												<p style="display:inline-block !important;">
													<span style="font-weight:bold;">CANCELLATION FEE WAIVER: </span> Offer available to Virgin Mobile
													customers on 12 month SIM Plans when they sign up to an Optus contracted plan (12 or 24 months)
													and port their number to Optus. Offer may be withdrawn anytime.
												</p>
												<p style="display:inline-block !important;">
													<span style="font-weight:bold;">MY PLAN PLUS 12M SIM PLAN: </span> New service only. Excludes
													TechFund and Fleet customers. Cancellation fees apply.
												</p>
												<!-- %%[ IF @PlanCost == "25" THEN]%% -->
												<p style="display:inline-block !important;">
													<span style="font-weight:bold;">$25 MY PLAN PLUS 12M SIM CANCELLATION FEE: </span> The maximum
													cancellation fee is $150 which will reduce each month of your contract term.
												</p>
												<!-- %%[ ELSE ]%% -->
												<p style="display:inline-block !important;">
													<span style="font-weight:bold;">$30 MY PLAN PLUS 12M SIM CANCELLATION FEE: </span> The maximum
													cancellation fee is $180 which will reduce each month of your contract term.
												</p>
												<!-- %%[ ENDIF ]%% -->
												<p style="display:inline-block !important;">
													<span style="font-weight:bold;">OPTIONAL EXTRAS: </span> Optional Extras (including Optus Sport)
													are available on a month by month basis and do not form part of your plan. You may cancel them at
													any time. Optus may change or withdraw an optional extra at any time and we will try and give you
													21 days prior notice of a change. If an optional extra is cancelled, changed or withdrawn, you
													will be liable to pay charges for the optional extra service that remain active until the relevant
													billing cycle ends and your plan will continue for the rest of its term.
												</p>
												<p style="display:inline-block !important;">
													<span style="font-weight:bold;">OPTUS SPORT: </span>
													<span style="font-weight:bold"
														>Subscription required. Fair Go Policy applies. Personal Viewing in Australia Only.</span
													>
													Content and features vary by sport, and are subject to change. This is a month-to-month
													subscription and does not form any part of an Optus plan. Some data charges apply for Optus Sport.
													Optus Sport is delivered using Adaptive Bitrate Streaming Technology at a resolution of up to
													720p. Optus Sport will work best with an internet bandwidth of 3Mbps or greater (7Mbps or greater
													for 2nd Gen. Fetch boxes). Use of other internet applications on the same internet connection at
													the same time may cause a degradation in video quality.
												</p>
												<p style="display:inline-block !important;">
													<span style="font-weight:bold;">COVERAGE:</span> Coverage will vary depending on the device,
													location and other factors. Check coverage at
													<a
														href="https://www.optus.com.au/shop/mobile/network/coverage"
														style="color: #fff;text-decoration: underline;"
														>optus.com.au/coverage</a
													>
													based on your address and device.
												</p>
												<p style="display:inline-block !important;">
													<span style="font-weight:bold;">DATA POOL: </span> If you have more than one eligible plan that
													shares data on the same billing account, the included monthly data allowance will combine into one
													data pool, which will be shared by all eligible services on that account. This data can also be
													shared with any existing Share Data Plan. Any unused data in the data pool expires at the end of
													each billing month.
												</p>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
